<!DOCTYPE html>
<!--모델값을 꺼내서 쓰려면 타임리프 문법을 써야된다-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>model3.html</h2>

  <table>
    <tr>
      <th>name</th>
      <th>capital</th>
      <th>population</th>
    </tr>
      <!--  가져온 리스트를 하나씩 반복해줘야되는데
      jsp를 썼을땐 c문법을 사용했었다    -->
    <tr th:each="nation: ${list}">
        <td th:text="${nation.name}"></td>
        <td th:text="${nation.capital}"></td>
        <td th:text="${nation.population}"></td>

    </tr>
  </table>
</body>
</html>